html {
  scroll-behavior: smooth;
}

body {
  margin: 1em 1em 0 1em;
  padding: 0;
  border: 0;
}

#navbar {
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-bottom: 2em;
}

#flex-row {
  display: flex;
  justify-content: center;
  gap: 1em;
}

#photos {
  flex-basis: 35%;
}

#description {
  flex-basis: 35%;
  z-index: -1;
}

#checkout {
  flex-basis: 253px;
}

@media only screen and (max-width: 1100px) {
  #flex-row {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  #photos {
    max-width: 400px;
    order: 1;
  }
  #checkout {
    order: 2;
  }
  #description {
    min-width: 90%;
    order: 3;
  }
  body {
    overflow-x: hidden;
  }
}

#description {
  font-family: "Amazon Ember", Arial, sans-serif;
  /* margin: 0 1em 0 1em; */
  width: 50%;
  height: 90vh;
  border: 1px solid black;
  text-align: center;
  line-height: 70vh;
}

#flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#CustomerReviews {
  font-family: "Amazon Ember", Arial, sans-serif;
}

#footer {
  margin: 0;
}
